:root{
    /* Colors */
    --content-bg:#F2C998;
    /* Animation elements */
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
}
*{
    margin:0;
    box-sizing: border-box;
}
body{
    padding: 0;
}
a{
    text-decoration:none;
    color: #e99125;
}
.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}
.login__content{
    /* flex: 1; */
    background:url('../img/login-bg.jpg') no-repeat center var(--content-bg);
    background-size: cover;
    padding:2em 2em;
}
.login__content img{
    object-fit: contain;
    height: 120px;
    margin: 1em 50%;
    transform: translateX(-50%);
}
.login__content-text{
    font-size: 1rem;
    font-family: Poppins, Helvetica, "sans-serif";
    line-height: 1.7rem;
}

/* Form */
.login__form{
    flex: 1;
    /* margin: 0 auto; */
    padding: 1em 2em;
    font-family: Poppins, Helvetica, "sans-serif";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.login__form h3{
    font-size: 1.2rem;
    padding-bottom:0.5rem;
    font-weight: 600;
}
.login__form p{
    font-size: 1rem;
    margin-bottom: 1em;
}
form{
    width: 80%;
}
.form-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 1.2rem;
    width: 100%;
}
.form-group>*{
    width: 100%;
}
label{
    padding-bottom: 0.50rem;
}
.form-group input{
    font-size: 1.2rem;
    padding: 0.4rem;
    background: rgba(219, 216, 216, 0.439);
    border:none;
    outline: none;
    border-radius: 4px;
}

.captacha{
    display: flex;
    justify-content: start;
    align-items: flex-start;
}
.captacha-box{
    margin: 0rem 0;
    font-size: 2rem;
    background: #F2C998;
    font-family: cursive;
    letter-spacing: -4.5px;
    width: 140px;
    text-align: center;
}
.captacha .change-btn{
    margin-left: 10px;
    background: gray;
    padding: 0.3rem;
    border-radius: 5px;
    cursor: pointer;
}
.login__btn{
    margin-top:1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    border:none;
    background-color: #085be0df;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
.login__btn:hover{
    background-color: #085be0;
}

@media (min-width:992px){
    .container{
        width: 100%;
        flex-direction: row;
    }
    .login__content{
        width: 60%;
        padding: 0 4em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .login__form{
        flex: 1;
        width: 40%;
        padding:0 4em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
    .form-header{
        width: 80%;
    }
}